html {
  background-color: #ffffff;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.nav-button {
  background-color: #222973;
  color: rgb(255, 255, 255);
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.nav-button:hover {
  background-color: #222973;
  transform: translateY(-2px);
}